*.pyc
build
.python-version
*.egg-info
.vscode
.DS_Store
checkpoints/ckpt_*.pt
checkpoints/progress.png

# PyTorch checkpoint files
checkpoints/*.pt
checkpoints/pipe_controllers/*.pt
checkpoints/best_online.pt
